/*變數設定檔*/

$mainRed: #e7462B;
$mainyellow: #fabf13;

$mainblack: #333333;
$hoverblue:#1f1e69;
$facebokBlue:#8d8cf0;
$mainGrey: rgb(247, 241, 234);
$listGrey: rgb(218, 214, 214);
$lineGrey: rgb(184, 184, 184);

